.metadata
.metadata/*
.metadata/.plugins/*
.metadata/.bak*
.metadata/.metadata
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*/**.png
*/*/*.png
*/*/.tkenvrc
vanets/.oppbuildspec
vanets/.csettings
vanets/.settings
vanets/src/.tkenvrs
vanets/src/.tkenvlog

vanets/src/.tkenvrc
vanets/src/.cmdenv-log
vanets/out/gcc-debug
vanets/.metadata/
vanets/tests/work/
vanets/tests/libgtest.a
vanets/out/clang-debug/
vanets/src/results/*.vci
vanets/src/results/*.sca
vanets/src/results/*.vec
veins/.csettings/
veins/.settings/
veins/.csettings/
veins/.nedfolders
veins/.oppbuildspec
*/.oppbuildspec
.idea/
